<% @astronauts.each do |astronaut| %>
  <section id = "astronaut-<%=astronaut.id%>">
    <h2><%= astronaut.name %></h2>
    <p><%= astronaut.age %></p>
    <p><%= astronaut.job %></p>
  </section>
<% end %>

<section>
  <h2>Average Age: <%= Astronaut.average_age %> </h2>
</section>
