<% @astronauts.each do |astronaut| %>
  <section id = "astronaut-<%=astronaut.id%>">
    <h2><%= astronaut.name %></h2>
    <p>Age: <%= astronaut.age %></p>
    <p>Job: <%= astronaut.job %></p>
  </section>
<% end %>

<section>
  <h2>Average Age: <%= Astronaut.average_age.to_i %> </h2>
</section>
